<footer class="footer border-top box-shadow">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-hidden-desktop">
        <h2 class="title is-5"><a [routerLink]="['/']">FeatherHttp-NG</a></h2>
      </div>
      <div class="column is-12-mobile is-5-tablet is-5-desktop">
        <div class="level">
          <a class="level-item is-block-mobile"  [routerLink]="['/personlist']"  >Person List</a>
          <a class="level-item is-block-mobile" [routerLink]="['/about']">About</a>
        </div>
      </div>

      <div class="column is-12-tablet is-4-desktop is-hidden-mobile is-hidden-tablet-only has-text-centered-desktop">
        <h2 class="title is-5"><a [routerLink]="['/']">FeatherHttp-NG</a></h2>
      </div>

      <div class="column is-12-mobile is-12-tablet is-3-desktop">
        <div class="field has-addons is-fullwidth">

        </div>
      </div>
    </div>
    <div class="columns">

      <div class="column has-text-right-tablet">
        <p class="subtitle is-6">© FeatherHttp-NG. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
