/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.pageOutline {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pageContent {
  flex: 1;
}

a {
  color: #0366d6;
}

code {
  color: #00FF00;
  background-color: #2d2c2c;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.footer{
  background-color: #ecebeb;
  color: #fff;
}
